name: armv7

on: [push]

jobs:
  build:
    env:
      PACKAGE_NAME: Base32Crockford
      SWIFT_VER: 5.2.4

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    strategy:
      fail-fast: false
      matrix:
        architecture:  [armv7,aarch64]
        distribution: [ubuntu16.04,ubuntu18.04,ubuntu20.04]
    steps:
    - uses: actions/checkout@v2
    - name: Build with Swift on arm
      uses: uraimo/run-on-arch-action@master
      with:
        architecture: ${{ matrix.architecture }}
        distribution: ${{ matrix.distribution }}
        #additionalArgs: "--volume \"${{ GITHUB_WORKSPACE }}:/package\" --workdir \"/package\""
        run: |
          ls -la
          export DEBIAN_FRONTEND=noninteractive
          ln -fs /usr/share/zoneinfo/America/New_York /etc/localtime
          apt update
          apt install -y curl lsb-release sudo clang
          RELEASE_DOT=$(lsb_release -sr)
          RELEASE_NUM=${RELEASE_DOT//[-._]/}
          echo $RELEASE_DOT
          if [[ $RELEASE_DOT == "20.04" ]]; then
            sudo apt-get -y install \
                    binutils \
                    git \
                    gnupg2 \
                    libc6-dev \
                    libcurl4 \
                    libedit2 \
                    libgcc-9-dev \
                    libpython2.7 \
                    libsqlite3-0 \
                    libstdc++-9-dev \
                    libxml2 \
                    libz3-dev \
                    pkg-config \
                    tzdata \
                    zlib1g-dev
                    
            else 
              apt-get -y install \
                binutils \
                git \
                libc6-dev \
                libcurl3 \
                libedit2 \
                libgcc-5-dev \
                libpython2.7 \
                libsqlite3-0 \
                libstdc++-5-dev \
                libxml2 \
                pkg-config \
                tzdata \
                zlib1g-dev
            fi
          dpkg-reconfigure --frontend noninteractive tzdata
          curl -s https://packagecloud.io/install/repositories/swift-arm/release/script.deb.sh | sudo bash
          apt-get install -y swift5
          swift build
          swift test --enable-test-discovery --enable-code-coverage
          ls .build
    # - uses: actions/checkout@v2
    # - name: Set Ubuntu Release DOT
    #   run: echo "::set-env name=RELEASE_DOT::$(lsb_release -sr)"
    # - name: Set Ubuntu Release NUM
    #   run: echo "::set-env name=RELEASE_NUM::${RELEASE_DOT//[-._]/}"
    # - name: Set Ubuntu Codename
    #   run: echo "::set-env name=RELEASE_NAME::$(lsb_release -sc)"
    # - name: Download Swift
    #   run: curl -O https://swift.org/builds/swift-${SWIFT_VER}-release/ubuntu${RELEASE_NUM}/swift-${SWIFT_VER}-RELEASE/swift-${SWIFT_VER}-RELEASE-ubuntu${RELEASE_DOT}.tar.gz
    # - name: Extract Swift
    #   run: tar xzf swift-${SWIFT_VER}-RELEASE-ubuntu${RELEASE_DOT}.tar.gz
    # - name: Add Path
    #   run: echo "::add-path::$GITHUB_WORKSPACE/swift-${SWIFT_VER}-RELEASE-ubuntu${RELEASE_DOT}/usr/bin"
    # - name: Build
    #   run: swift build
    # - name: Run tests
    #   run: swift test --enable-test-discovery --enable-code-coverage
    # - name: Prepare Code Coverage
    #   run: llvm-cov export -format="lcov" .build/x86_64-unknown-linux-gnu/debug/${{ env.PACKAGE_NAME }}PackageTests.xctest -instr-profile .build/debug/codecov/default.profdata > info.lcov
    # - name: Upload to CodeCov.io
    #   run: bash <(curl https://codecov.io/bash) -F github -F ${RELEASE_NAME} -n ${{ github.sha }}
    #   env:
    #       CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
